<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.4.0" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="20.3.0.52" targetFramework="net472" />
  <package id="Syncfusion.Data.WPF" version="20.3.0.52" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.3.0.52" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="20.3.0.52" targetFramework="net472" />
  <package id="Syncfusion.SfGrid.WPF" version="20.3.0.52" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="20.3.0.52" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.Wpf" version="20.3.0.52" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="5.0.0.2012" targetFramework="net472" />
</packages>